@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserrat, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --darker: 216 58% 33%;
        --background: 216 21.13% 86.08%;
        --foreground: 218.57 18.42% 14.9%;
        --muted: 213.1 21.8% 73.92%;
        --muted-foreground: 216.67 21.95% 32.16%;
        --popover: 210 18.75% 93.73%;
        --popover-foreground: 218.57 18.42% 14.9%;
        --card: 210 18.75% 93.73%;
        --card-foreground: 218.57 18.42% 14.9%;
        --border: 208 12% 93%;
        --input: 213.1 21.8% 73.92%;
        --primary: 208 83% 60%;
        --primary-foreground: 210 18.75% 93.73%;
        --secondary: 210 18.75% 93.73%;
        --secondary-foreground: 218.57 18.42% 14.9%;
        --accent: 207.88 83.33% 60%;
        --accent-foreground: 238 83% 100%;
        --destructive: 0 69.43% 55.1%;
        --destructive-foreground: 0 0% 100%;
        --ring: 208 83% 60%;
        --radius: 0.5rem;
    }

    .dark {
        --darker: 220 17% 15%;
        --background: 220 17% 24%;
        --foreground: 208 0% 100%;
        --muted: 216.67 21.95% 32.16%;
        --muted-foreground: 213.1 21.8% 73.92%;
        --popover: 219 16.67% 23.53%;
        --popover-foreground: 208 11% 99%;
        --card: 219 16.67% 23.53%;
        --card-foreground: 208 0% 100%;
        --border: 208 12% 15%;
        --input: 218.57 18.42% 14.9%;
        --primary: 208.42 83.41% 59.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 218.57 18.42% 14.9%;
        --secondary-foreground: 0 0% 100%;
        --accent: 208.42 83.41% 59.8%;
        --accent-foreground: 238 83% 100%;
        --destructive: 360 69.24% 54.98%;
        --destructive-foreground: 15 0% 100%;
        --ring: 208 83% 60%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
